
@{
    ViewBag.Title = "Itemdetails";
}

<h2>Itemdetails</h2>
@model Lab_21.Models.Item
<form>
   Name: <input type="text" />
    <input type="hidden"/>
   Description: <input type="text" />
    Quantity: <input type="number" />
    Price: <input type="number" />
</form>

